[submodule "fzf"]
        path = fzf
        url = https://github.com/junegunn/fzf.git
[submodule "ranger/plugins/fzf-marks"]
	path = ranger/plugins/fzf-marks
	url = https://github.com/laggardkernel/ranger-fzf-marks.git
[submodule "scripts/diff-so-fancy"]
	path = scripts/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "scripts/slip"]
	path = scripts/slip
	url = https://github.com/JonnyHaystack/slip.git
[submodule "scripts/rofi-applets"]
	path = scripts/rofi-applets
	url = https://github.com/adi1090x/rofi
